<div class="lg:hidden p-4 bg-[#5F8D5F]">
  <p-button icon="pi pi-bars" (click)="visible = true" severity="secondary" [text]="true"/>
</div>

<aside class="hidden lg:block">
  <ng-container *ngTemplateOutlet="sidebarContent"></ng-container>
</aside>

<p-drawer [(visible)]="visible" [style]="{'background': '#5F8D5F', 'border': 'none', 'width': '300px'}">
  <ng-container *ngTemplateOutlet="sidebarContent"></ng-container>
</p-drawer>

<ng-template #sidebarContent>
  <div class="sidebar-container">

    <div class="logo-section">
      <img src="Logo App SDI_white.png"
           alt="CareBridge Logo"
           class="max-w-[220px] w-full h-auto object-contain scale-110">
    </div>

    <div class="menu-area">
      <div class="flex flex-col w-full gap-6">
        @for (section of menuSections; track section.label) {
          @if (section.roles.includes(userRole)) {
            <div class="flex flex-col gap-2">
              <span class="menu-header">
                {{ section.label }}
              </span>

              @for (route of section.items; track route.path) {
                @if (route.roles.includes(userRole)) {
                  <a (click)="visible = false"
                     [routerLinkActiveOptions]="{ exact: true }"
                     [routerLink]="route.path"
                     class="menu-item"
                     routerLinkActive="active-link">
                    <span class="text-xl tracking-wide">{{ route.title }}</span>
                  </a>
                }
              }
            </div>
          }
        }
      </div>
    </div>

    <div class="sidebar-footer">
      <div class="flex gap-6 text-2xl text-white">
        <i class="pi pi-cog icon-btn"></i>
        <i class="pi pi-bell icon-btn"></i>
      </div>
      <span class="logout-btn" (click)="logout()">
        Log out
      </span>
    </div>
  </div>
</ng-template>
