#IDEs & OS
.idea/
.vscode/
.history/
*.swp
.DS_Store
Thumbs.db

#Backend (Spring Boot / Gradle)
.gradle/
build/
bin/
out/
.env
env.properties
*.log
!gradle/wrapper/gradle-wrapper.jar

#Frontend (Angular / Node)
node_modules/
**/node_modules/
dist/
.angular/
.cache/
npm-debug.log*
yarn-error.log*
.editorconfig

#Database & Docker
.docker/
postgres_data/
/src/typescript-client/
/karma.conf.js
/src/app/theme/feature/theme-showcase/

# Playwright
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/
