.layout-wrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  overflow: hidden;
  background-color: #F1FAF1;
}

@media (min-width: 1024px) {
  .layout-wrapper {
    flex-direction: row;
  }
}

app-sidebar {
  flex-shrink: 0;
  width: 100%;
}

@media (min-width: 1024px) {
  app-sidebar {
    width: 18rem;
    height: 100%;
  }
}

.layout-main {
  flex: 1;
  height: 100%;
  overflow-y: auto;
  padding: 1.25rem;
  box-sizing: border-box;
}

@media (min-width: 768px) {
  .layout-main {
    padding: 2rem;
  }
}

@media (min-width: 1024px) {
  .layout-main {
    padding: 2.5rem 3rem;
  }
}
