<div class="forgot-password-page">
  <header class="page-header">
    <img src="Logo App SDI_green.png" alt="CareBridge Logo" class="logo">
  </header>

  <div class="forgot-password-card">
    <div class="forgot-password-header">
      <h1 class="forgot-password-title">Change Password</h1>
    </div>

    <form [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()" class="forgot-password-form">

      <div class="form-field">
        <label>Password</label>
        <p-password
          formControlName="password"
          [feedback]="false"
          [toggleMask]="true"
          placeholder="Enter Password"
          class="custom-pwd-container"
          inputStyleClass="custom-pwd-input">
        </p-password>
        @if (forgotPasswordForm.get('password')?.invalid && (forgotPasswordForm.get('password')?.dirty
          || forgotPasswordForm.get('password')?.touched)) {
          @if (forgotPasswordForm.get('password')?.hasError('required')) {
            <p-message severity="error" size="small" variant="simple">
              Password is required.
            </p-message>
          }
          @if (forgotPasswordForm.get('password')?.hasError('minlength')
          || forgotPasswordForm.get('password')?.hasError('pattern')) {
            <p-message severity="error" size="small" variant="simple">
              Password must be at least 8 characters long, include an uppercase letter, a number,
              and a special symbol.
            </p-message>
          }
        }
      </div>

      <div class="form-field">
        <label>Confirm Password</label>
        <p-password
          formControlName="confirmPassword"
          [feedback]="false"
          [toggleMask]="true"
          placeholder="Confirm Password"
          class="custom-pwd-container"
          inputStyleClass="custom-pwd-input">
        </p-password>
        @if (forgotPasswordForm.get('confirmPassword')?.dirty ||
        forgotPasswordForm.get('confirmPassword')?.touched) {
          @if (forgotPasswordForm.get('confirmPassword')?.hasError('required')) {
            <p-message severity="error" size="small" variant="simple">
              Please enter your password again for confirmation.
            </p-message>
          } @else if (forgotPasswordForm.hasError('passwordMismatch')) {
            <p-message severity="error" size="small" variant="simple">
              The Passwords do not match.
            </p-message>
          }
        }
      </div>

      <button pButton
              type="submit"
              class="submit-btn"
              (click)="onSubmit()">
        <span pButtonLabel>Submit</span>
      </button>

    </form>
  </div>
</div>
